<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
      <add name="DBConnect" providerName="System.Data.SqlClient"
            connectionString="Data Source=PATHIK-LENOVO\HUMBERBRIDGING;Initial Catalog=JOB_PORTAL_DB;Integrated Security=True;"/>
   </connectionStrings>
</configuration>  